/*****************/
/*     TABLA     */
/*****************/
body{
    background-image: url(inicio1.jpg)
}
table{
  border-collapse: collapse;
   border: 1px solid black;
  width: 60%;
  margin: auto;
  
}
td, th{
  text-align:center;
  font-family: Arial, Helvetica, sans-serif;
}
th{
  height: 30px;
  background-color: #9f1818;
  color: white;
}
td{
  height: 30px;
  background-color: #774747;
  color: white;
}
.from {
   text-align: center;
}
.topnav {
  overflow: hidden;
  background-color: #333;
  border-style: solid;
}
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 60px;
  text-decoration: none;
}